extends layout

block head
  link(rel='stylesheet', href='javascripts/vendor/bootstrap-css/css/bootstrap.css')

  script(type='text/javascript', src='javascripts/controller/StreamController.js')

block content
  div.container(ng-controller="StreamController", ng-init="setTweets( #{JSON.stringify(tweets)} )")
    h1 Social Media

    h2 Tweets
    div.row(ng-repeat="tweetObj in tweets")
      div.tweet
      span.name {{tweetObj.name}} 
      span.name [{{tweetObj.username}}]: 
      span.tweetText {{tweetObj.tweet.text}}
      //div.span3.text-right
        //i {{tweet.due | date:'MMM d, yyyy'}}