body {
  padding: 50px;
  font: 14px Helvetica, Arial, sans-serif;
}

.container {
  height: 600px;
}

div.Tweets {
  float: left;
  width: 40%;
  padding: 25px;
}

div.Instagrams {
  float: right;
  width: 50%;
  padding: 25px;
}

ol.tweetContainer, ol.instagramContainer {
  list-style-position: inside;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 100%; 
  max-height: 750px;
  overflow: scroll;
}

li.temp {
  height: 6000px;
}

li.ng-scope {
  margin: 2px;
  border-bottom: 1px;
}

.tweet {
  border: 6px;
  margin: 8px;
  font-size: 10px;
}

.tweet:hover {
  background: rgb(230, 243, 232);
}

.name {
  font-size: 20px;
  font-style: bold;
  text-shadow: 1px 1px #001111;
}

.username {
  font-size: 14px;
}
.tweetText {
  font-family: arial;
  font-size: 14px;
  border: 0px 1px 0px 1px;
}

.created_at {
  float: right;
}

h1 {
  text-align: center;
}

.instaConent {
  height: 300px;
}

div.pic {
  border: 1px;
  height: 300px;
  width: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-overflow: hidden;
  float: left;
}

div.instaText, div.instaScore {
  width: 45%;
  float: right;
  padding-left: 5px;
  
}

div.instaScore {
  padding-top: 15px;
}